

/* Ride */

.ride-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    top: 50%;
    z-index: 10;
}
.ride-container .box{
    text-align: center;
    padding: 20px;
}
.ride-container .box .bx{
    font-size: 2.5rem;
    padding: 10px;
    background:#eeeff1 ;
}