*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif ;
}
:root{
  --main-color: #fe5b3d;
  --second-color: #ffac38;
  --text-color: #444;
  --gradient: linear-gradient(#fe5b3d, #ffac38);
}
/*Stilizimi i Scroll bar */

html::-webkit-scrollbar-track {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
section{
  padding: 50px 100px;
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eeeff1;
  padding: 15px 100px;
}
.logo img{
  width: 40px;
}
.navbar{
  display: flex;
}
.navbar li{
  position: relative;
}
.navbar a{
  font-size: 1.3rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
}
.navbar a::after{
  content: "";
  width: 0;
  height: 3px;
  background: var(--gradient);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
}
.navbar a:hover::after{
  width: 100%;
}
#menu-icon{
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
.header-btn a{
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.header-btn .sign-in{
  background: black;
  color: #FFF;
  border-radius: 0.5rem;
  text-decoration: none;
}
.header-btn .sign-in:hover {
  background: var(--main-color);
}
.header-btn .sign-up{
  background: #eeeff1;
  color: #fe5b3d;
  border: 1px  solid #fe5b3d;
  border-radius: 0.5rem;
  text-decoration: none;
}
.header-btn .sign-up:hover{
  background: #fe5b3d;
  color: #FFF;
}

/* Home */
.home{
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
#imazhi{
  width: 50%;
  height: 95%;
  right: 20%;
  left: 50%;
  top: 10%;
  bottom: 50%;
  position: absolute;
}
.text h1{
  font-size: 5.5rem;
  letter-spacing: 1px;
  top:15%;
}
.text span{
  color: var(--second-color);  
}
.text p{
  margin: 0 0.5rem 0 1rem;
  font-size: 1.5rem;
}
.form-container form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  left: 100px;
  background: var(--second-color);
  padding: 20px;
  border-radius: 0.5rem;
}
.input-box{
  flex: 1 1 7rem; 
  display: flex;
  flex-direction: column;
}
.input-box span{
  font-weight: 500;
}
.input-box input{
  padding: 7px;
  outline: none;
  border:none;
  background: #eeeff1;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.form-container form .btn{
  flex: 1 1 7rem;
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: black;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
.form-container form .btn:hover {
  background: var(--main-color);
}
.heading{
  text-align: center;
}
.heading span{
  font-weight: 500;
  text-transform: uppercase;
}
.heading h1{
  font-size: 2rem;
}
/*table*/
h4{
  font-size: 30px;
  color: #0c0b0b;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: black;
  border-radius: 0.5rem;
 }
 .tbl-content{
  height:20px;
  overflow-x:auto;
  margin-top: 0px;
  border: orangered;
}
th{
  margin: 10px 20px;
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 15px;
  color: black;
  border-bottom: black;
}
/* for custom scrollbar for webkit browser*/
      
::-webkit-scrollbar {
   width: 6px;                                 
} 
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}



/* Ride */

.ride-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    top: 50%;
    z-index: 10;
}
.ride-container .box{
    text-align: center;
    padding: 20px;
}
.ride-container .box .bx{
    font-size: 2.5rem;
    padding: 10px;
    background:#eeeff1 ;
    border-radius: 0.5rem;
    color: var(--main-color);
}
.ride-container .box h2{
    font-size: 20px;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}
.ride-container .box .bx:hover, 
.ride-container .box .bxs-calendar-check{
    background: var(--gradient);
    color: #eeeff1;
}

/* Services */

.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.services-container .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}

.services-container .box .box-img{
    width: 100%;
    height: 200px;
}

.services-container .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.services-container .box .btn{
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #FFF;
  padding: 10px;
  border-radius: 0.5rem;
}

.services-container .box .btn:hover{
  background-color: #fff;
  color: #ff5e14;
  border:1px solid #ff5e14;
  transition: background-color 400ms, color 200ms;
}

.btn-services{
  font-size: 35px;
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  padding: 20px 10px 20px;
  margin: 30px 20%;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.btn-services:hover{
  background-color: #ff5e14;
  color: #fff;
  transition: background-color 400ms, color 200ms;
}
/* Review*/

.reviews-container{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,auto));
  gap:1rem;
  margin-top:2rem;
}
.rev-img{
  width:70px;
  height: 70px;
}
.rev-img img{
  width:100%;
  height:100%;
  border-radius:50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var (--second-color);
}
.reviews-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.reviews-container .box h2{
  font-size:1.1rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
  }
  .reviews-container .box p{
    font-style: italic;
}
.reviews-container .box .stars .bx{
  color: var(--main-color);
}

/* About Us */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
    background: #151414;
  }
  .footer-cta {
    border-bottom: 1px solid #373636;
  }
  .single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
      max-width: 200px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
        color: #7e7e7e;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .bxl-facebook-circle{
    background: #3B5998;
    font-size: 27px;
  }
  .bxl-twitter{
    background: #63ade6;
    font-size: 27px;
  }
  .bxl-instagram-alt{
    background: #9939dd;
    font-size: 27px;
  }
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
  }
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
    color: #ff5e14;
  }
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

/* Countdown */
.countdown{
  background: linear-gradient(to top right, #fe5b3d, #ffac38);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0;
}

.countdown-container{
  margin-top: 20px;
}

h1{
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.time-box{
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 15px;
  border-radius: 10px;
  text-align: center;
  width: 90px;
}
.time-box span{
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffcc00;
  display: block;
}
.time-box p{
  font-size: 1rem;
  margin: 0;
  color: #ffffff;
}

/* Making responsive*/
@media (max-width: 991px){
  header{
      padding: 18px 40px;
  }
  section{
      padding: 50px 40px;
  }
}

@media (max-width: 881px){
  .home{
      background-position: left;
  }
  .form-container form{
  bottom: 0.2rem;
  left: 40px;
   }
 }
 @media (max-width: 828px){
  header{
      padding: 11px 40px;
 }
 #menu-icon{
  display: initial;
 }
 .sign-up{
  display: none;
 }
 .text h1{
  font-size: 3rem;
 }
 .home{
  grid-template-columns: 1fr;
 }
 .form-container from{
  position: unset;
 }
 header .navbar{
  position: absolute;
  top: -500px;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.1);
  transition: 0.2s ease;
  text-align: left;
 }
 .navbar .active{
  top: 100%;
 }
 .navbar a{
  padding: 1rem;
  border-left: 2px solid var(--main-color);
  margin: 1rem;
  display: block;
 }
 .navbar a:hover{
   color: #fff;
   background: var(--main-color);
  border: none;
 }
 .navbar a::after{
  display: none;
 }
 .heading span{
  font-size: 0.9rem;
  font-weight: 600;
 }
 .heading h1{
  font-size: 1.3rem;
 }
 .about-container{
  grid-template-columns: 1fr;
  text-align: center;
 }
 .about-img{
  padding: 1rem;
  order: 2;
 }
}

@media (max-width: 568px){
  .copyright{
      flex-direction: column;
  }
  .newsletter .box{
      width: 284px;
  }
  .form-container{
      padding-top: 2rem;
  }
}

@media (max-width: 350px){
  header{
      padding: 4px 14px;
  }
  .logo img{
      width: 30px;
  }
  section{
      padding: 50px 14p ;
  }
  .heading-btn .sign-in{
      padding: 7px 10px;
      font-size: 14px;
      font-weight: 400;
  }
  .text h1{
      font-size: 2rem;
  }
  
  .section-container{
      grid-template-columns: repeat(auto-fit,minmax(254px,auto));
  }
}
body {
  font-family: 'Poppins', sans-serif;
  
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}
.search-container {
  color: #f97b32;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}
.search-container input {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f77b16;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.search-container button:hover {
  background-color: #000000;
}
.specifications-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}
.specifications-container h3 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 10px;
}
.specifications-table {
  width: 100%;
  border-collapse: collapse;
}
.specifications-table td {
  padding: 10px 5px;
  border-bottom: 1px solid #e6e6e6;
}
.specifications-table .label {
  font-weight: bold;
  color: #c00;
}
.specifications-table tr:last-child td {
  border-bottom: none;
}




